<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <springProperty name="gcp-logging-enabled" source="spring.cloud.gcp.logging.enabled" />

  <if condition='property("gcp-logging-enabled").equals("true")'>
    <then>

      <include resource="org/springframework/cloud/gcp/logging/logback-json-appender.xml" />

      <root level="INFO">
        <appender-ref ref="CONSOLE_JSON" />
      </root>

    </then>
    <else>

      <include resource="org/springframework/boot/logging/logback/defaults.xml" />

      <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
          <pattern>
            %d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} -- %X{req.method} %X{req.requestURI} %X{correlationId} %X{platform} %X{platformCountry} %X{clientId} %X{userId} -- [%M] %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%rEx}
          </pattern>
          <charset>UTF-8</charset>
        </encoder>
      </appender>

      <root level="INFO">
        <appender-ref ref="CONSOLE" />
      </root>

    </else>
  </if>

</configuration>
